/*div {
  background-color: #9aebed;
}*/


body {
/*  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
*/
margin: 0;
text-align: center;
font-family: 'Merriweather', serif;

color: #545454;
}
h1 {
margin: 50px auto 0 auto;
font-family: 'Sacramento', cursive;
font-size: 4.5rem;

color: #45b29a;
/*line-height: 2;*/
/*margin: 0 auto 0 auto;*/
/*width: 10%;*/
}
h2 {

  font-family: 'Montserrat', sans-serif;
  color: #45b29a;
}
h3 {
  font-family: 'Montserrat', sans-serif;
  color: #45b29a;
  font-size: 1.5rem;
}
hr {
  border-style: none;
  border-top: dotted;
  border-color: grey;
  border-width: 5px;
  width: 3%;
}
p {
  line-height: 2;
}
.profile-picture {
  width: 150px;
}
.skill-row1 {
  width: 40%;
  margin: 100px auto 50px auto;
  text-align: left;
/*  line-height: 2; */
}
.skill-row2 {
  width: 40%;
  margin: 150px auto 50px auto;
  text-align: left;
/*  line-height: 2;*/
}
.skill-1 {
  float: left;
  margin-right: 50px;
  height: 25%;
  width: 25%;
  border-radius: 50%;

}
.skill-2 {
  float: right;
  margin-left: 50px;
  height: 22%;
  width: 22%;
  border-radius: 50%;
}
.verytop {
  height: 50px;
  background-color: #e0ebe8;
}
.top {
  background-color: #e0ebe8;
  position: relative;
  padding-top: 100px;
}
.middle {
  margin-top: 70px;
  margin-bottom: 50px;
}
.bottom {
  padding-bottom: 40px;
  padding-top: 40px;
  background-color: #c5ded6;
  border-top:solid 1px;
}
.web {
  /*text-decoration: underline; */
  font-size: 1.3rem;
  color: #45b29a;
  font-weight:normal;
}
.footer {
  /*text-decoration: underline; */

  color: #45b29a;
}
.bottom-cloud {
  position:absolute;
  left: 400px;
  bottom: 380px;
}
.top-cloud {
  position:absolute;
  right: 400px;
  top: 150px;
}

.profile {
  margin-bottom: 100px;

}
.skills {
  margin-top: 100px;
  margin-bottom: 150px;
}
.h2 {
  font-size: 40px;
  color: #1e836c;

}
.contact-me {
  margin-top: 100px;
}
/*
.para-code {
  clear:right;
}
*/
.para {
  margin: auto;
  width: 25%;
}
.para2 {
  margin: 50px auto 70px auto;
}
.land {
  margin-top: 100px;
  position: relative;
  top: 4px;
}
/*.btn {
  color: #45b29a;
}*/

.profiles {
  height: 40px;
  width: 40px;
  margin: 10px 20px;
}
img:hover {
  color: red;
}
a:hover {
  color: red;
}
.footer {
  font-size: 0.75rem;
  padding-bottom: 10px;
}
.butn {
  background: #45b29a;
  background-image: -webkit-linear-gradient(top, #45b29a, #45b29a);
  background-image: -moz-linear-gradient(top, #45b29a, #45b29a);
  background-image: -ms-linear-gradient(top, #45b29a, #45b29a);
  background-image: -o-linear-gradient(top, #45b29a, #45b29a);
  background-image: linear-gradient(to bottom, #45b29a, #45b29a);
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  font-family: 'Merriweather', serif;
  color: #1b7f69;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;

}

.butn:hover {
  background: #45b29a;
  background-image: -webkit-linear-gradient(top, #45b29a, #1b7f69);
  background-image: -moz-linear-gradient(top, #45b29a, #1b7f69);
  background-image: -ms-linear-gradient(top, #45b29a, #1b7f69);
  background-image: -o-linear-gradient(top, #45b29a, #1b7f69);
  background-image: linear-gradient(to bottom, #45b29a, #1b7f69);
  text-decoration: none;
}
